.test {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
}

.set__background {
  background-color: var(--color-dark-purple);
  color: var(--color-white) !important;
}

.termsandcondition {
  color: #f7f8fa !important;
  font-weight: bolder !important;
}

.termsandcondition:hover {
  text-decoration: underline;
  color: #0022ff;
}

.set__bold {
  font-weight: bold;
}

.set__background__white {
  background-color: white;
  color: #ced4da;
}

.set__border {
  border: 1px solid #ced4da !important;
}

.set__background__disable {
  background-color: var(--color-disable);
  color: var(--color-dark-purple);
}

.set__disable {
  background-color: #6c757d !important;
  cursor: not-allowed !important;
}

.set__relative {
  display: block;
  position: relative;
}

.set__card__height {
  max-height: 516px;
  height: 237px;
}

.set__width {
  min-width: 37rem !important;
}


.set__setmargin {
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.set__form__field {
  border: none !important;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: var(--color-dark-purple) !important;
  color: var(--color-white) !important;
  width: 80%;
}

.modalRoot {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-content: center;
  align-items: center;
}

.set__paddingLeft {
  margin-left: 60px;
}

.set__padding_tab {
  padding: 1rem 0rem 0rem 3rem !important;
}

.modalDisplay {
  display: block;
}

.modalDisplayNone {
  display: none;
}

.modalContainer {
  display: flex;
}

.walletConnectImage {
  /* background-image: url(./Images/WalletConnectsmall.png); */
  background-image: url('../../assets/fox.svg');

  background-repeat: no-repeat;
  background-position: center center;
  /* display: inline; */
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
}

._close {
  color: #fff !important;
  position: absolute;
  top: -19px !important;
  right: -5px !important;
}

.modal__Card {
  border-radius: 12px;
  max-width: 500px;
  max-height: 100%;
  padding: 30px !important;
  color: white;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-dark-purple);
  border: var(--color-dark-purple);
}

.set_invisible {
  color: var(--color-shoking-pink);
}

.set__modal__header {
  width: calc(100% - 180px);
  margin: auto;
  border-bottom: 0px !important;
}

.content1 {
  width: calc(100% - 143px) !important;
  font-size: 16px;
  margin: auto !important;
  margin-bottom: 0px !important;
}

.content2 {
  width: calc(100% - 143px) !important;
  font-size: 16px;
  margin: auto;
  margin-bottom: 30px;
}

.modal-header {
  border-bottom: none !important;
}

.test_span {
  width: 45px;
  height: 45px;
  display: flex;
  border-radius: 50%;
  text-align: center;
}

.web3modal_provider_name {
  margin-top: 0px !important;
  color: white !important;
  text-align: left !important;
  margin-left: 10px;
}

.btn__shoking__pink {
  background-color: var(--color-shoking-pink) !important;
  color: var(--color-white) !important;
  border: var(--color-shoking-pink) !important;
  font-size: 24px;
  font-weight: 700;
  border-radius: 12px;
  justify-content: center;
  padding: 10px 20px !important;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.modal__background {
  background-color: var(--color-dark-purple);
  color: var(--color-white);
}

span#metamask {
  padding-left: 3rem !important;
}

.modal__header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: none !important;
  border-bottom: 1px solid #dee2e6 !important;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

@media (max-width: 540px) {
  .set__form__field {
    width: 75%;
  }
}

.set__form__field:focus-visible {
  border: none !important;
  outline: none !important;
}

.set__drop__down {
  border: none !important;
  border-left: 1px solid #fff !important;
  font-weight: bold;
  width: 3.5rem;
}

.set__drop__down:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}

.set__small_margin {
  margin-bottom: 0.25rem;
}

/* .set__height {
  height: 33vh !important;
} */

.header {
  position: fixed;
}

.set__Active {
  font-weight: bold !important;
}

.set__Non__Active {
  font-weight: normal !important;
}

/* Container */
.outer__container {
  overflow-x: hidden;
}

.remove__right__border {
  border-right: none;
}

.remove__left__border {
  border: none !important;
}

.remove__margin {
  margin-left: 15px !important;
}

.light__text {
  font-weight: normal !important;
}

.light__purple {
  color: var(--color-shoking-pink);
}

.contentprogress {
  border-top: 3px solid var(--color-shoking-pink) !important;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
}

.no__margin {
  margin-top: 0px !important;
}

.set__text__font {
  font-size: 1.25rem;
}

.set__padding__timeline {
  padding-top: 3rem;
}

.set__timeline__list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.set__timeline__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 1.5rem;
  width: 25%;
}
.set__timeline__item:first-child {
  justify-content: flex-start;
}
.set__timeline__item:last-child {
  justify-content: flex-end;
}
.set__timeline__icon {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 65px;
  padding: 0 0 1rem;
  width: 100%;
}
.set__item__content {
  border-top: 3px solid var(--color-shoking-pink) !important;
  padding: 1rem 0 0;
  text-align: center;
  width: 100%;
}
@media (max-width: 767px) {
  .set__timeline__list {
    flex-wrap: wrap;
  }
  .set__timeline__item {
    width: 50%;
  }

  .set__Address__button {
    margin: 15px 0 !important;
    max-width: 290px !important;
    font-size: 11px !important;
  }
  .set__padding_tab {
    padding: 1rem 0rem 0rem 0rem !important;
  }
}

@media (max-width: 480px) {
  .set__timeline__item {
    width: 100%;
  }
}
.card__content {
  padding: 3rem 1rem 1rem 1rem;
}

.card__staking__content {
  padding: 0rem 3rem 3rem 3rem;
}

.card__small__header {
  color: white;
  /* margin-bottom: 20px; */
}

.set__nopadding {
  padding: 0px;
}

.socials {
  margin: 0.25rem 2rem 0.25rem 0 !important;
}

.set__Image {
  position: static !important;
  right: 67rem;
  bottom: 3rem;
}

.set__text__pink {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-shoking-pink) !important;
}

.set__text__white {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-header);
}

.set__pending {
  cursor: not-allowed !important;
  background-color: var(--color-pending) !important;
}

.set__navItem {
  margin-left: 0px !important;
}

.ml-auto,
.mx-auto {
  margin-left: 0px !important;
}

.set__paddingLeft {
  margin-left: 0px !important;
}

/* For large desktop Zoom 100%, 125%, 110%, 150 */
/* @media only screen and (min-width: 1200px) { */
/* //CSS Code */
.header {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.background__Tokenomics {
  /* background-image: url('../../assets/Images/Tokenomics.png'); */
  background-image: url('../../assets/Images/1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -15rem right;
  color: #ffff;
}

@media (max-width: 1790px) {
  .background__Tokenomics {
    background-position: top 0 right !important;
  }
  .default__set {
    display: none;
  }
}

@media (max-width: 1650px) {
  .background__public__sale {
    background-size: cover !important;
    background-position: top 0 right !important;
  }

  .background__public__list {
    background-size: cover !important;
    background-position: top 0 right !important;
  }
}

@media (max-width: 1380px) {
  .background__vesting {
    background-size: cover !important;
    background-position: top 0 right !important;
  }
}

@media (max-width: 1550px) {
  .background__farming {
    background-size: cover !important;
    background-position: top 0 right !important;
  }

  .background__dividends {
    background-size: cover !important;
    background-position: top 0 right !important;
  }
}

@media (max-width: 1680px) {
  .background__staking {
    background-size: cover !important;
    background-position: top 0 right !important;
  }
}

@media (max-width: 1400px) {
  .background__footer {
    background-size: cover !important;
    background-position: top 0 right !important;
  }

  .set__Balance__Button {
    min-width: 200px !important;
    font-size: 14px !important;
  }
}

.default__page {
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
}

.inner {
  background-color: #fff !important;
  width: 100% !important;
  padding: 0px !important;
}

.blue__Button {
  background-color: var(--color-darkpurple) !important;
  border-color: var(--color-darkpurple) !important;
  border-radius: 5px;
  color: var(--color-text);
  font-size: 18px;
  font-weight: bold;
  box-sizing: border-box;
  width: 100%;
}

.set__header__button {
  margin: 0 0 0 15px !important;
  margin: 15px 0 !important;
  max-width: 270px !important;
  font-size: 14px !important;
}

.set__Address__button {
  margin: 15px 0 !important;
  max-width: 290px !important;
  font-size: 11px !important;
}

.button__icon::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  content: '\f007';
  color: white;
}

.to__upper {
  align-items: center;
  text-transform: uppercase;
  width: 100%;
}

.to__center {
  display: flex;
  justify-content: center;
}

.to__upper:focus {
  background-color: transparent;
}

.to__upper li button {
  min-width: 212px;
}

.to__upper li:last-child {
  margin: 0 0 0 15px !important;
}

.set__Active {
  font-weight: bold !important;
  text-align: center;
}

.set__Non__Active {
  font-weight: normal !important;
  text-align: center;
}

.default__page__content {
  /* z-index: 2; */
  position: relative;
  padding: 5rem 0 2rem 0;
  margin-top: 1rem;
}

.updatedtokenPanel_default__last {
  /* z-index: 2; */
  position: relative;
  padding: 5rem 0 1.5rem 0;
  margin-top: 0px !important;
}

.default__set {
  position: relative;
  padding: 1rem 0;
  margin-top: 5rem;
  min-height: 10rem;
  color: #612c96 !important;
}

.tokenomicsback {
  position: absolute !important;
  bottom: 5px;
  left: 30rem;
}

.linebar {
  display: relative !important;
}

.LogoImage {
  border: 1px solid var(--color-shadow);
  border-radius: 50%;
  height: 115px;
  width: 115px;
  /* margin-right: 30px; */
  box-shadow: 0rem 0rem 1rem 1rem var(--color-shadow);
}

.contract__address {
  align-items: center;
  display: flex;
  height: 3.5rem;
  justify-content: center;
}

.set__paddingLeft {
  margin-left: 0px !important;
}

.text__center {
  text-align: left !important;
}

.text__center {
  text-align: left !important;
}
/* 
#contractaddress {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 10rem;
} */

.token__Info {
  font-size: 2.5rem;
  font-weight: normal;
}

@media (max-width: 767px) {
  .LogoImage {
    display: block;
    margin: 0 auto 15px;
  }
  .token__Info {
    display: block;
    margin: 0 0 15px;
    text-align: center;
  }
  .blue__Button {
    margin: 0 auto 1.5rem;
    max-width: 300px;
  }
  .contract__address {
    height: 3.5rem;
    max-width: 100% !important;
  }
  .certik__container {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .set__padding_tab {
    padding: 1rem 0rem 0rem 0rem !important;
  }
}

.copy_icon {
  display: relative;
}

.copy_icon::after {
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
  text-indent: 0;
  font-family: 'Opem';
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  font-size: 7px;
  background: white;
  border-radius: 2px;
  color: red;
  border-radius: 5px;
  content: attr(aria-label);
  padding: 0.5em 1em;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
}

.copy_icon:hover {
  cursor: pointer;
  color: var(--color-shadow);
  /* box-shadow: 5px 10px inset; */
}

.copy__text {
  position: absolute;
  display: none;
  z-index: 2;
  top: -31px;
  right: 135px;
  transform: translate(30%, 30%);
  padding: 4px;
  font-size: 9px;
  border-radius: 2px;
  background-color: #a442c3 transparent;
  background-color: var(--color-shadow);
}

.copy_icon:hover + .copy__text {
  display: block;
}

/*  */

.token__nomics {
  font-size: 2rem;
  font-weight: bold;
  /* border: 1px solid black; */
}

.contentSeprator {
  border-top: 3px solid var(--color-underline) !important;
  margin-top: 0rem;
  border: 0;
}

.set__color_pink {
  color: var(--color-underline);
}

.tokenomics___row {
  display: flex;
  justify-content: space-around;
}

.tokenomics__btn {
  width: 100%;
  background-color: var(--color-dark-purple);
  border: var(--color-dark-purple);
  line-height: 2.75rem;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tokenomics__btn:hover {
  background-color: var(--color-dark-purple);
}

.tokenomics__span {
  font-weight: bold;
  font-size: 13px;
}

.tokenomics__text {
  font-size: 1rem !important;
}

.set__Caution {
  margin-top: 5px;
  padding: 0px !important;
}

.token__supply {
  padding-top: 1.5rem;
  font-size: 18px;
}

.setboarder {
  border: 1px solid black;
}

.certix__image {
  height: 58px;
  width: 135px;
  display: inline;
}

.cyberscope__image {
  height: 43px;
  width: 143px;
  display: inline;
}

.certik__text {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-right: 5px;
}

/* Default Page */

/* public sale */
.background__public__sale {
  background-image: url('../../assets/Images/Cleanbackground.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top -15rem right;
  color: #ffff;
  padding: 5rem 0;
}

.background__public__list {
  background-image: url('../../assets/Images/1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top -15rem right;
  color: #ffff;
  padding: 5rem 0;
}

.public__sale__content {
  /* z-index: 2; */
  position: relative;
  padding: 5rem 0;
  /* margin-top: 2rem; */
}

.round__font {
  font-size: 1.5rem;
}

.set__font {
  font-size: 1rem;
}

.publicsale__span {
  font-weight: bold;
}

.publicsale__btn {
  width: 115px !important;
  /* background-color: var(--color-shadow); */
  background-color: var(--color-dark-purple);
  border: var(--color-dark-purple);
  line-height: 2rem;
  border-radius: 5px;
  margin-top: 8px;
  font-weight: bold;
}

.publicsale:hover {
  background-color: var(--color-dark-purple) !important;
  color: var(--color-white) !important;
}

.publicsale___row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3px;
}

.card__background {
  background-color: var(--color-dark-purple);
}

.card__background:hover {
  background-color: var(--color-dark-purple);
}

.presale__drop {
  color: var(--color-white) !important;
  font-size: 1rem !important;
}

.presale__drop {
  background-color: var(--color-dark-purple) !important;
}

.set__dropdown__menu {
  border: 1px solid #fff;
  min-width: 7.25rem;
}

.set__padding {
  padding-top: 1rem !important;
}

.set__list {
  margin-top: 1rem;
  margin-bottom: 5rem;
  color: var(--color-white);
  text-align: left;
}

.timeline {
  position: absolute;
  top: -33px;
  left: 0;
  height: 94px;
  width: 220px;
}

.set__progress {
  height: 40px;
  width: 40px;
}

.background__vesting {
  background-image: url('../../assets/Images/vestback.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: top -13rem right; */
  color: #ffff;
}
/*  */
.background__staking {
  background-image: url('../../assets/Images/stakback.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -13rem right;
  color: #ffff;
}
/* vestback.png */
.background__farming {
  background-image: url('../../assets/Images/1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 0rem right !important;
  color: #ffff;
}

.background__dividends {
  background-image: url('../../assets/Images/Cleanbackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -13rem right;
  color: #ffff;
}
/* 3.png */
/* stakback.png */
.vesting__content {
  /* z-index: 2; */
  position: relative;
  padding: 10rem 0;
}

.farming__content {
  /* z-index: 2; */
  position: relative;
  padding: 6rem 0 !important;
}

.claim__content {
  /* z-index: 2; */
  position: relative;
  padding: 10rem 0 !important;
}

.divident__sale_divide {
  padding: 3rem 0;
  height: 100%;
}

.divident__main {
  padding: 8rem 0;
}

.background__footer {
  background-image: url('../../assets/Images/followus.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top -7rem right;
  color: #ffff;
}

.set__container__height:hover {
  color: var(--color-shoking-pink);
  /* background-color: rgba(178, 60, 253, 0.2);/ */
  background: linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5) 100%);
  cursor: pointer;
}

.set__radiant {
  background: linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5) 100%);
}
/*  .set__container__claim__height 
  .set__claim__days*/

.set__claim__days {
  max-height: 216px;
  /* height: 10vh; */
  margin-bottom: 25px;
}

.set__container__claim__height {
  max-height: 416px;
  /* height: 35vh; */
}

.set__Image {
  position: static;
  top: 3rem;
  left: 40rem;
}

/* .set__height {
  height: 33vh !important;
} */

.set__metamask__padding {
  padding: 2rem 3rem 3rem 3rem !important;
}

@media (max-width: 991px) {
  .set__header__button {
    margin: 15px 0 !important;
    max-width: 270px !important;
    font-size: 14px !important;
  }

  .set__Address__button {
    margin: 15px 0 !important;
    max-width: 270px !important;
    font-size: 14px !important;
  }
  .token__supply {
    text-align: center;
    width: 100%;
  }
  .set__container__height {
    margin-left: 0;
  }
  .set__Balance__Button {
    min-width: 274px !important;
    font-size: 14px !important;
  }
}

@media (max-width: 540px) {
  .socials {
    display: inline-block;
    margin: 0.25rem 2rem 1rem 0 !important;
  }

  .text__hide {
    display: none;
  }

  .text__center {
    text-align: center !important;
  }

  .set__Caution {
    display: none !important;
    padding: 10px !important;
  }

  .set__hidden {
    display: none;
  }
}

@media only screen and (max-width: 1920px) {
  .farming__content {
    padding: 6rem 0 !important;
    /* background-color: red !important; */
  }

  .background__farming {
    background-position: top 0rem right !important;
  }
}

.Background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalWrapper {
  width: 800px;
  height: 500px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  z-index: 10;
  border-radius: 10px;
}

.ModalImg {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  background: #000;
}

.ModalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  color: #141414;
}

.CloseModalButton {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
}

/* circularProgressBar */

.outer__div {
  position: relative;
}

.set__Image {
  position: absolute;
  left: 225px;
  top: 35px;
  z-index: 0;
  width: 395px;
  height: 160px;
}

#progressInput {
  margin: 20px auto;
  width: 100px;
}

.circle_background,
.circle_progress {
  fill: none;
}

.circle_background {
  stroke: #ddd;
}

.circle_progress {
  stroke: var(--color-progressbar);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle_text {
  font-size: 3em;
  font-weight: bold;
  fill: var(--color-white);
}

.divident__sale_divide .set__Image {
  height: 45px !important;
  width: 45px !important;
}

.set__Balance__Button {
      padding: 13px 11px;
}

.set__Address__button {
  padding: 0px 0px;
  height: 45px;
  font-size: 13px !important;
}

.set_mobile_nav {
  justify-content: flex-end !important;

}

.set_mobile_nav   li.nav-item {
   flex: 1;
  text-align: center !important;
 } 
